body {
  width: 30rem;
  height: 15rem;
  padding-bottom: 1rem;
  text-align: center;
}

button {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 10px 20px;
  width: 160px;
  border: none;
  cursor: pointer;
  margin: auto;
}

ol{
  margin-top: 16px;
  text-align: left;
  font-size: 13px;
}
li{
  margin-top: 4px;
}

p{
  margin-top: 32px;
  text-align: center;
  font-size: 14px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid red;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 60%;
  margin: -14px 0 0 -14px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}